/* Global style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  /* Primary Colors */
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  /* Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  /* Responsive design */
  --Desktop: 765px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
  padding: 0 6px;
  margin: 0 auto;
}

/* header */
.nav {
  background-color: var(--White);
  text-transform: capitalize;
  text-align: left;
  padding: 0.8rem;
  overflow: hidden;
  box-shadow: 0px 2px 6px 0px #eee;
}

.hide-links {
  height: 0;
  visibility: hidden;
}
.show-links {
  height: auto;
}

.links li {
  padding: 0.1rem 0;
  margin: 0 5px;
  transition: all 0.3s ease-out;
}

.links li:is(:active, :hover, :focus) {
  border-bottom: 3px solid;
  border-image: linear-gradient(135deg, var(--Lime-Green), var(--Bright-Cyan)) 1;
  transform: translateX(5px);
}

.links li a {
  color: var(--Grayish-Blue);
  font-size: 1.2rem;
}

.links li:is(:active, :hover, :focus) a {
  color: #000;
}

.btn-container {
  display: none;
}
.btn {
  padding: 12px 20px;
  background-image: linear-gradient(
    135deg,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  color: aliceblue;
  border-style: none;
  border-radius: 25px;
}

/* Header's nav */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-btn {
  border: none;
  padding: 10px;
  background-color: transparent;
  transition: transform 0.3s ease-out;
}

.toggle-btn:hover {
  transform: rotate(90deg);
}
.toggle-btn:hover svg {
  stroke: var(--Bright-Cyan);
}

.toggle-btn svg {
  height: 2em;
  width: 2em;
  stroke: var(--Grayish-Blue);
}

@media screen and (min-width: 800px) {
  .container.nav-container {
    display: flex;
    justify-content: space-between;
  }
  .links-container {
    height: auto;
  }
  .links {
    display: flex;
  }
  .hide-links {
    height: auto;
    visibility: visible;
  }

  .toggle-btn {
    display: none;
  }
  .btn-container {
    display: block;
  }
}

/** Sections **/

/* Digital banking */
.digital-banking {
  width: 100%;
  background-image: linear-gradient(
    180deg,
    var(--Very-Light-Gray),
    var(--White)
  );
}

.digital-container {
  display: block;
}

.desc {
  padding: 0 8px;
  margin-bottom: 22px;
}

.desc h2 {
  color: var(--Dark-Blue);
  font-weight: normal;
  margin: 10px 0;
  letter-spacing: 2px;
}
.desc p {
  color: var(--Grayish-Blue);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.part-one {
  margin-top: 2rem;
}

.digital-banking .part-two {
  background: url(./assets//images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  padding: 10px;
  background-size: cover;
  margin: 0 0 10px;
}

.digital-banking .part-two img {
  width: 100%;
  height: 100%;
}

/* WhyEasyBanking section */

.why-easybanking {
  background-color: var(--Light-Grayish-Blue);
  padding: 1rem;
}
.why-easybanking .title {
  margin-bottom: 1rem;
}
.why-easybanking .title h2,
.single-offer h3 {
  color: var(--Dark-Blue);
  font-weight: normal;
  margin: 0 auto 0.8rem;
}
:is(.why-easybanking) p {
  color: var(--Grayish-Blue);
}

.single-offer {
  margin: 1.6rem 0;
}
/* Aricles Section */
.articles {
}
.articles h2,
.single-article h3 {
  color: var(--Dark-Blue);
  font-weight: normal;
  margin: 1rem 0;
}

.single-article {
  padding: 0.8rem;
}

.single-article img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.single-article .text {
  padding: 0 0.3rem;
  text-align: left;
}

.single-article .text p,
small {
  color: var(--Grayish-Blue);
  font-size: 0.9rem;
}

/** Footer **/
footer {
  background-color: var(--Dark-Blue);
  padding: 1rem 0;
  color: var(--White);
}

footer .logo {
}
footer .logo .icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0;
}

footer .footer-links {
}

.footer-links li {
  margin: 10px 0;
}

footer .footers-footer {
  margin: 1rem 0;
}
footer .footers-footer p {
  margin-top: 1rem;
  color: var(--Grayish-Blue);
}

@media screen and (min-width: 765px) {
  .container {
    width: 80%;
  }
  .digital-container {
    display: flex;
    margin-right: -6rem;
    position: relative;
  }
  .digital-banking .part-one {
    order: 1;
    flex-basis: 40%;
    text-align: left;
  }
  .digital-banking .part-one h3,
  p {
    margin-bottom: 1rem;
  }

  .desc {
    padding: 10px;
    margin-top: 3rem;
  }
  .digital-banking .part-two {
    background: url(./assets/images/bg-intro-desktop.svg);
    order: 2;
    background-size: cover;
    background-position: -2rem -7rem;
    flex-basis: 60%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .digital-banking .part-two img {
    width: 21rem;
    position: relative;
    height: 26rem;
    top: -2rem;
    right: -6rem;
  }
  /* Easybanking section */
  .why-easybanking {
  }
  .why-easybanking .offers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: 0.5rem;
  }
  .single-offer {
    text-align: left;
    font-size: 0.8rem;
    padding-left: 0.8rem;
  }
  .why-easybanking .title {
    margin-bottom: 1rem;
    width: 70%;
    text-align: left;
  }
  .single-offer img {
    width: 3rem;
  }
  .single-offer h3 {
    width: 100%;
    margin: 0.8rem 0;
  }
  /* Articles section */
 
  .articles-container {
    display: flex;
    flex-flow: wrap row;
    margin: 2rem 0;
  }
  .single-article {
    flex: 1 1 216px;
  }
  /* Footer */

  footer .container {
    display: flex;
    align-items: center;
  }

  footer .logo {
  }
  footer .logo .icons {
  }

  footer .footer-links {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    align-content: space-evenly;
  }

  .footer-links li {
    margin: 0.3rem 0;
  }

  footer .footers-footer {
    margin-left: auto;
  }
  footer .footers-footer p {
  }
}
